p {
    color : #c9c7c7;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color : #c9c7c7;
    font-size: 38px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#title {
    color : #c9c7c7;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
    background-color: rgb(199, 191, 43);
    color : rgb(23, 36, 78);
    padding: 10px;
    text-align: right;
}

a{
    color : #3e3838;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    background-color: rgb(23, 36, 78);
    color : #c9c7c7;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 90px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.homeimg1 {
    display: block;
    margin: 0 auto;
}

.services1 {
    background-color: rgb(23, 36, 78);
    color : #c9c7c7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.contactimg1 {
    display: block;
    opacity: 1;
    background-color: #cccaca;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color:#e2d9d9;
    color: #373636;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

a.contacts {
    color: #373636;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    background-color: antiquewhite;
    margin-top: 40px;
    padding-right:10px;
    column-gap: 60px;
    grid-template-columns: auto auto auto;
}

.container > div {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.servicetxt {
    color : #434040;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    background-color: #e2d9d9;
    color : #373636;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    margin: 20px 0;
    padding: 10px;
    width: 30%;
    border: 4px solid #373636;
    border-radius: 10px;
    background-color: #eae5e5;
}

label {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

button {
    background-color: #373636;
    color: #e2d9d9;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .maptxt {
    color : #c9c7c7;
    font-size: 38px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
